<?xml version="1.0"?>
<robot name="ur3e_with_robotiq" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="ur_type" default="ur3e"/>

  <xacro:arg name="joint_limits_parameters_file" 
             default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
  <xacro:arg name="kinematics_parameters_file" 
             default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
  <xacro:arg name="physical_parameters_file" 
             default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
  <xacro:arg name="visual_parameters_file" 
             default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>

  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_140_macro.urdf.xacro"/>
  <xacro:include filename="$(find realsense2_description)/urdf/_d435i.urdf.xacro"/>
  
  <link name="world"/>

  <xacro:ur_robot
      name="$(arg ur_type)"
      tf_prefix="$(arg ur_type)_"
      parent="world"
      joint_limits_parameters_file="$(arg joint_limits_parameters_file)"
      kinematics_parameters_file="$(arg kinematics_parameters_file)"
      physical_parameters_file="$(arg physical_parameters_file)"
      visual_parameters_file="$(arg visual_parameters_file)">
      <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:ur_robot>

  <xacro:robotiq_gripper
      name="robotiq_gripper"
      prefix="robotiq_"
      parent="$(arg ur_type)_tool0"
      >
      <origin xyz="0 0 0" rpy="0 0 0"/> 
    </xacro:robotiq_gripper>
    
    <xacro:sensor_d435i
      parent="$(arg ur_type)_tool0"
      name="camera"
      use_nominal_extrinsics="false"
      >
      <origin xyz="0 0.035 0" rpy="${-pi/2} ${-pi/2} 0"/> 
    </xacro:sensor_d435i>

</robot>