<?xml version="1.0"?>
<robot name="ur3e_with_robotiq" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find ur3e_robotiq_description)/urdf/ur3e_robotiq_macro.xacro"/>

  <xacro:arg name="ur_type" default="ur3e"/>

  <xacro:arg name="joint_limits_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
  <xacro:arg name="kinematics_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
  <xacro:arg name="physical_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
  <xacro:arg name="visual_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>

  <xacro:arg name="use_fake_hardware" default="true"/>
  <xacro:arg name="sim_gazebo" default="false"/>
  <xacro:arg name="sim_ignition" default="false"/>
  <xacro:arg name="safety_limits" default="false"/>
  
  <link name="world"/>

  <xacro:ur3e_with_gripper
      parent="world"
      ur_type="$(arg ur_type)"
      
      joint_limits_parameters_file="$(arg joint_limits_parameters_file)"
      kinematics_parameters_file="$(arg kinematics_parameters_file)"
      physical_parameters_file="$(arg physical_parameters_file)"
      visual_parameters_file="$(arg visual_parameters_file)"
      
      use_fake_hardware="$(arg use_fake_hardware)"
      sim_gazebo="$(arg sim_gazebo)"
      sim_ignition="$(arg sim_ignition)"
      safety_limits="$(arg safety_limits)"
      >
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:ur3e_with_gripper>

</robot>